*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

body{
    padding: 1.8em;
    font-family: "Space Grotesk", sans-serif;
    background-color: #181818;
    color: white;
}

h1{
    text-align: center;
}

div ul li img{
    width: 20px;
    vertical-align: middle;
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 0 20px 0 rgba(243, 27, 27, 0.3);
    margin: 10px 20px 0 20px;
    padding: 10px;
    text-align: center;
}

.description img{
    width: 400px;
    /*padding-top: 70px;*/
}

.icons-links{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
    margin: 30px 20px 0 20px;
    padding: 10px;
    text-align: center;
}

.title-members{
    text-align: center;
}

.members{
    box-shadow: 0 0 20px 0 rgba(47, 35, 223, 0.3);
    margin: 30px 20px 0 20px;
    padding: 10px;
}

.albums{
    box-shadow: 0 0 20px 0 rgba(231, 217, 17, 0.3);
    margin: 30px 20px 0 20px;
    padding: 10px;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}